.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 20px;
}

.cart-container {
    color: #ffffff;
    background-color: #93CCD4;
    border: 1px solid #E0ABB6;
    border-radius: 10px;
}

.cart-container h3 {
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px gray;
}

hr {
    border: 1px solid #ffffff;
}

@media screen and (max-width:688px) {
    .products-container {
        display: flex;
        flex-direction: column;
    }
    .shop-container {
        display: flex;
        flex-direction: column-reverse;
    }
}

.reset-btn {
    color: #ffffff;
    background-color: #5ABAC3;
    border: 1px solid #E0ABB6;
    border-radius: 30px;
    padding: 5px 20px;
}

.reset-btn:hover {
    background-color: #E0ABB6;
    transition: 0.2s;
}

.Choose-btn {
    color: #ffffff;
    background-color: #5ABAC3;
    border: 1px solid #E0ABB6;
    border-radius: 30px;
    padding: 5px 40px;
}

.Choose-btn:hover {
    background-color: #E0ABB6;
    transition: 0.2s;
}

.container {
    background-color: #93CCD4;
    border: 1px solid #E0ABB6;
    border-radius: 10px;
}